<section class="feature">
    <div class="feature__image"><img src="/assets/images/i-mac-1.png" alt="monitor"></div>
    <div class="feature__description">
        <h2 class="feature__title">خدمات تپسی برای کسب و کارها</h2>
        <div class="feature__text">نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس
            اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
            یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
            .دینک تیریدم </div>

        <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>

</section>


<section class="feature block charge">
    <div class="feature__image"><img src="/assets/images/i-mac-1.png" alt="monitor"></div>
    <div class="feature__description">
        <h2 class="feature__title">خدمات تپسی برای کسب و کارها</h2>
        <p class="feature__text">نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس
            اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
            یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
            .دینک تیریدم </p>
        <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>
</section>
<section class="feature feature--secondary">
    <div class="feature__image"><img src="/assets/images/i-mac-1.png" alt="monitor"></div>
    <div class="feature__description">
        <h2 class="feature__title">خرید کد اعتباری تپسی</h2>
        <p class="feature__text">نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس
            اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
            یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
            .دینک تیریدم </p>
        <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>
</section>

<section class="container block charge">
    <div class="feature">
        <div class="feature__image"><img src="/assets/images/i-mac-1.png" alt="monitor"></div>
        <div class="feature__description">
            <h2 class="feature__title">خدمات تپسی برای کسب و کارها</h2>
            <p class="feature__text">نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس
                اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
                یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
                .دینک تیریدم </p>
            <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
        </div>
    </div>
    <div class="feature feature--secondary">
        <div class="feature__image"><img src="/assets/images/i-mac-1.png" alt="monitor"></div>
        <div class="feature__description">
            <h2 class="feature__title">خرید کد اعتباری تپسی</h2>
            <p class="feature__text">نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس
                اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
                یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
                .دینک تیریدم </p>
            <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
        </div>
    </div>
</section>