<section class="travel container block">
    <div class="travelling-gifts">
        <h2>جوایز ویژه</h2>
        <div class="travelling-gifts__panel ">


            <div class="travelling-gifts__items ">
                <div class="travelling-gifts__details">
                    <span class="badge badge--primary">ویژه</span>
                    <p>اقامت رایگان • سفر 3 روزه</p>
                </div>
                <h4 class="travelling-gifts__title">سفر به قلب کویر لوت</h4>
                <div class="travelling-gifts__reactions">
                    <div class="reactions-feedback">
                        <span class="icon"><img src="assets/images/vector.svg" alt="heart"></span>
                        <p>12</p>
                        <span class="icon"><img src="assets/images/eye-sharp.svg" alt="heart"></span>
                        <p>46</p>
                    </div>
                    <div class="reactions-edit">
                        <span class="icon"><img src="assets/images/create-outline.svg" alt="heart"></span>
                        <span class="icon"><img src="assets/images/trash-outline.svg" alt="heart"></span>
                    </div>
                </div>
            </div>

            <div class="travelling-gifts__items ">
                <div class="travelling-gifts__details">
                    <span class="badge badge--primary">ویژه</span>
                    <p>اقامت رایگان • سفر 3 روزه</p>
                </div>
                <h4 class="travelling-gifts__title">سفر به قلب کویر لوت</h4>
                <div class="travelling-gifts__reactions">
                    <div class="reactions-feedback">
                        <span class="icon"><img src="assets/images/vector.svg" alt="heart"></span>
                        <p>12</p>
                        <span class="icon"><img src="assets/images/eye-sharp.svg" alt="heart"></span>
                        <p>46</p>
                    </div>
                    <div class="reactions-edit">
                        <span class="icon"><img src="assets/images/create-outline.svg" alt="heart"></span>
                        <span class="icon"><img src="assets/images/trash-outline.svg" alt="heart"></span>
                    </div>
                </div>
            </div>

            <div class="travelling-gifts__items">
                <div class="travelling-gifts__details">
                    <span class="badge badge--primary">ویژه</span>
                    <p>اقامت رایگان • سفر 3 روزه</p>
                </div>
                <h4 class="travelling-gifts__title">سفر به قلب کویر لوت</h4>
                <div class="travelling-gifts__reactions">
                    <div class="reactions-feedback">
                        <span class="icon"><img src="assets/images/vector.svg" alt="heart"></span>
                        <p>12</p>
                        <span class="icon"><img src="assets/images/eye-sharp.svg" alt="heart"></span>
                        <p>46</p>
                    </div>
                    <div class="reactions-edit">
                        <span class="icon"><img src="assets/images/create-outline.svg" alt="heart"></span>
                        <span class="icon"><img src="assets/images/trash-outline.svg" alt="heart"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>